
<!-- by year push sum -->
 <!-- 
<ul class="my-3" style="display: flex; flex-wrap: wrap; justify-content: center; padding: 0; list-style-type: none;">
    {% for val in by_year_push_sum %}
    <li style="list-style-type: none; display: inline-block; width: 20%; border:1px solid #adb5bd;" class="text-break  mouse_hover rounded m-2 p-2 text-center align-middle">
        <span id="{{ company }} / {{ val[0] }} / {{ val[1] }}" onclick="push_statistics2(id)"> 
            <p class="fw-bold text-primary text_border_bottom">{{ val[0] }} </p>
            <p>共 {{ val[1] }} 則</p>
        </span>
    </li>
    {% endfor %}
</ul>

<div class="top_border"></div>

-->
<!-- by month push sum -->
 <!--
<ul class="my-3" style="display: flex; flex-wrap: wrap; justify-content: center; padding: 0; list-style-type: none;">
    {% for val in by_month_push_sum %}
    <li style="list-style-type: none; display: inline-block; width: 20%; border:1px solid #adb5bd;" class="text-break  mouse_hover rounded m-2 p-2 text-center align-middle">
        <span id="{{ company }}/{{ val.year }}/{{ val.month }}" onclick="test(id)"> 
            <p class="fw-bold text-primary text_border_bottom">{{ val.year }} - {{ val.month }}</p>
            <p>共 {{ val.total }} 則</p>
        </span>
    </li>
    {% endfor %}
</ul>

<div id="show_detail"></div>
-->


    <div class="card m-2">
        <div class="card-header text-center text-primary fw-bold">
           {{ company }} {{ year }} 年 {{ month }} 月 {{name}} 統計清單
        </div>
        <div class="card-body">
            <div class="text-end m-1"><button type="button" class="btn btn-danger" onclick="close_push_statistics3_1_list()"><i class="bi bi-x-lg"></i> Close</button></div>
    
            <ul class="my-3" style="display: flex; flex-wrap: wrap; justify-content: center; padding: 0; list-style-type: none;">
                {% for val in by_year_name_push_sum3_1 %}
                <li style="list-style-type: none; display: inline-block; width: 20%; border:1px solid #adb5bd;" class="text-break  mouse_hover rounded m-2 p-2 text-center align-middle">
                    <span> 
                        <p class="fw-bold text-primary text_border_bottom">{{ val[0] }} </p>
                        <p>{{ val[3] }}</p>
                    </span>
                </li>
                {% endfor %}
            </ul>

        </div>
    </div>

    

    <!--
    <table class="table table-bordered table-striped table-hover">
        <tr>
            <th colspan="4" class="text-primary text-center"> {{ year }} 年 {{ name }} 統計清單</th>
        </tr>
        <tr class="text-center">
            <th>日期</th>
            <th>客戶</th>
            <th>UID</th>
            <th>推播訊息</th>
        </tr>
        {% for val in by_year_name_push_sum2_1 %}
        <tr class="text-center text-break">
            <td>{{ val[0] }}</td>
            <td>{{ val[1] }}</td>
            <td>{{ val[2] }}</td>
            <td>{{ val[3] }}</td>
        </tr>
        {% endfor %}
    </table>
    -->


