{% extends "fw_page/fw_index.html" %}

{% block content %}
    <!-- space -->
    <div class="jumbotron jumbotron-fluid my-3" style="padding:0px; height:70px;"></div>
    
    <!-- brand -->
    <div class="container-fluid my-2 text-center my-6" style="padding: 0px;">
        <div class="fs-1 text-danger">[ 404 錯誤 ]</div>
    </div>

    <!-- content -->
    <div class="container-fluid my-2 text-center">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
              
                <p class="fs-3 text-danger"><i class="bi bi-x-circle"></i> 頁面未找到 , 很抱歉 , 您訪問的頁面不存在！</p><br>
                
            </div>
            <div class="col-md-3"></div>
        </div>
        
    </div>
{% endblock content %}