{% extends "fw_page/fw_index.html" %}
    
{% block content %}
    <!------------------------------------------------------------------------------------------------------------------------- 
    -
    - content
    -
    --------------------------------------------------------------------------------------------------------------------------->
    <div class="jumbotron jumbotron-fluid my-3" style="padding:0px; height:70px;"></div>
    <div class="container-fluid my-3">
        <div class="row">

           

            <div class="col-md-12 my-2">
                <div class="card" class="d-flex justify-content-center align-items-center">
                    <div class="card-header text-white text-shadow">
                        <i class="bi bi-bookmark-plus"></i> 堆播對象 - 加入說明
                    </div>
                    <div class="card-body">
                        
                        <article>
                            
                            <p>此官方帳號將定期發放最新資訊給您 , 敬請期待</p>
                            
                            <p>請先回覆廠商公司名稱 , 感謝您</p>
                            
                            <br>
                            
                            <p class="text-primary">加入步驟 : </p>
                            
                            <p>1).打開 LINE 點選左下角 -> 點選主頁 -> 點選右上方加入好友 <i class="bi bi-person-plus"></i></p>

                            <p>2).<img class="box-shadow" style="width:70px; height:70px;" src="{{ url_for('static',filename='img/line/line_qrcode_099icqmh.png') }}">  掃描 QRcord 加入好友</p>

                            <p>3).加入後需要做一次性回覆動作 , 回覆廠商是誰 ? 格式及範例參照下方說明</p>

                            <br>

                            <p class="text-primary">回覆格式 : </p>
                            
                            <p>sbi 不用空格後面加上廠商名稱</p>

                            <br>
                            
                            <p class="text-primary">回覆範例 : </p>

                            <p>sbi松柏資訊</p>

                            <p>sbi台灣印刷</p>

                            <p>sbi快樂汽車</p>



                        </article>
                        
                    </div>

                </div>
            </div>

            

        </div>

    </div>

{% endblock %}

